<clr-modal [(clrModalOpen)]="showModal">
  <h3 class="modal-title">{{'SEARCH.MODAL_DETAIL.CREATE_ORDER' | translate}}</h3>

  <div class="modal-body">
    <form clrForm [formGroup]="detailForm">
      <div class="clr-row">
        <clr-date-container class="clr-col-8">
          <label class="clr-col-6"> {{'SEARCH.MODAL_DETAIL.DATE_ORDER' | translate}}</label>
          <input class="clr-col-6" [(clrDate)]="orderDay" name="orderDay" (change)="checkDates()" (blur)="checkDates()"
            formControlName="orderDayValue" />
          <clr-control-error>{{'COMMON.DATE_INVALID_TO_PAST' | translate}}
          </clr-control-error>
        </clr-date-container>
      </div>

      <div class="clr-row">
        <clr-input-container class="clr-col-8">
          <label class="clr-col-6">{{'SEARCH.MODAL_DETAIL.DATE_TO_SERVE' | translate}}</label>
          <label class="clr-col-6">{{ dayToServe | date: 'dd/MM/yyyy'}}</label>
        </clr-input-container>
      </div>

      <app-select-dish #firstComponent [type]="getTypeEnum().FIRST" [dishes]="firstDishes" [form]="detailForm" nameControl="firstSeletedValue"
        labelName="SEARCH.MODAL_DETAIL.FIRST_ORDER" (createNewDish)="openCreateDish($event)">
      </app-select-dish>

      <app-select-dish #secondComponent [type]="getTypeEnum().SECOND" [dishes]="secondDishes" [form]="detailForm" nameControl="secondSeletedValue"
        labelName="SEARCH.MODAL_DETAIL.SECOND_ORDER" (createNewDish)="openCreateDish($event)">
      </app-select-dish>

      <app-select-dish #dessertComponent [type]="getTypeEnum().DESSERT" [dishes]="desserts" [form]="detailForm" nameControl="dessertSeletedValue"
        labelName="SEARCH.MODAL_DETAIL.DESSERT_ORDER" (createNewDish)="openCreateDish($event)">
      </app-select-dish>

      <div id="allmostOneError" *ngIf="detailForm.errors?.allmostOne">
        {{'SEARCH.MODAL_DETAIL.ERROR_ALMOST_ONE_DISH' | translate}} </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"
      (click)="showModal = false">{{'COMMON.BTN_CANCEL' | translate}}</button>
    <button type="button" class="btn btn-success" (click)="saveOrder()"
      [disabled]="detailForm.invalid">{{'COMMON.BTN_CREATE' | translate}}</button>
  </div>
</clr-modal>

<app-create-dish #newDish [showAddDish]=false [typeDish]="" (newDishCreate)="saveDish($event)"> </app-create-dish>
