<div class="main-container">
  <div class="alert alert-app-level"></div>
  <header class="header header-6">
    <div class="branding">
      <div id="headerTitle">{{'search.TITLE' | translate}} {{user}} </div>
  </div>
    <div class="header-actions">       
        <clr-icon shape="logout"  (click)="logout()" id="logout"></clr-icon>       
    </div>
  </header>

  <nav class="subnav">
      <ul class="nav">
          <li class="nav-item">
              <a id="nav-link active" >{{'search.NAV_TITLE' | translate}}</a>
           </li>
           <li class="nav-item">
            <button class="btn btn-success-outline" (click) = "createOrder()" >{{'search.CREATE_BUTTON' | translate}}</button>
         </li>
      </ul>
   
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div id="search-filter">
        <form clrForm  [formGroup]="searchForm" >
          <div class="clr-row">
          
            <clr-date-container class=" clr-col-5 ">
              <label>{{'search.INITIAL_DATE' | translate}}</label>
              <input type="date" [clrDate]="initialDate" formControlName="initialDateForm" name="initialDate"/>
              <clr-control-error>{{'common.DATE_INVALID' | translate}}
              </clr-control-error>
            </clr-date-container>
          
            <clr-date-container class=" clr-col-5 ">
              <label>{{'search.END_DATE' | translate}}</label>
              <input type="date" [clrDate]="endDate" formControlName="endDateForm" name="endDate"/>
              <clr-control-error>{{'common.DATE_INVALID' | translate}}
              </clr-control-error>
            </clr-date-container>
            <button type="submit"  class="btn btn-success" (click) = "filter()" [disabled]="searchForm.invalid">{{'search.FILTER_BUTTON' | translate}}</button>
          </div>
        </form>
      </div>
      <div id="search-result">
        <clr-datagrid>
          <clr-dg-column>{{'search.table.ID' | translate}}</clr-dg-column>
          <clr-dg-column>{{'search.table.DATE' | translate}}</clr-dg-column>
          <clr-dg-column>{{'search.table.STATE' | translate}}</clr-dg-column>
          <clr-dg-column>{{'search.table.FIRST' | translate}}</clr-dg-column>
          <clr-dg-column>{{'search.table.SECOND' | translate}}</clr-dg-column>
          <clr-dg-column>{{'search.table.DESSERT' | translate}}</clr-dg-column>

          <clr-dg-row>
            <clr-dg-action-overflow>
              <button class="action-item" (click)="openDetail()">{{'search.table.DETAIL' | translate}}</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>1</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-row>
            <clr-dg-action-overflow>
              <button class="action-item">{{'search.table.DETAIL' | translate}}</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>2</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
            <clr-dg-cell>Cell</clr-dg-cell>
          </clr-dg-row>

          <!-- </clr-dg-row> *ngFor="let user of users">
                                
                                </clr-dg-row> -->

          <clr-dg-footer>Tropecientas {{'search.table.FOOTER' | translate}}</clr-dg-footer>
        </clr-datagrid>


      </div>

    </div>
    <!-- <nav class="sidenav">
                ...
            </nav> -->
  </div>
  <app-detail-order #detail [showModal]="false" [create]="create"></app-detail-order>
</div>
