<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Management Restaurant Application
    </section>
    <div class="login-group">
      <clr-input-container>
        <label>{{'login.USERNAME' | translate}}</label>
        <input type="text"  name="username" clrInput  [(ngModel)]="user.username"  />        
      </clr-input-container>
      <clr-password-container>
        <label>{{'login.PASSWORD' | translate}}</label>
        <input type="password"  name="password" clrPassword  [(ngModel)]="user.password"/>
      </clr-password-container>
      <div class="error active">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">
        {{'login.LOGIN' | translate}}
      </button>
    </div>
    </form>
</div>